/* *針對所有元素設定 */
/*設定box sizing讓實際的寬度=Padding+border*/
/*常用*/
/*custom class*/
/*col-4/col.6屬於全域class(大家都可能會用到ㄉ)*/
/*header*/
/*content*/
/*content的每一個div都有間隔*/
/*div:first-child 和header不要有間隔*/
/*如果有固定深or淺圖片 可以在html title 多設定class dark or light 
再用CSS去設定字的color */
/*footer*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
p {
  color: #7e7e7e;
  line-height: 30px;
}
.container {
  display: block;
  width: 1080px;
  margin: 0 auto;
}
.container.full-width {
  width: 100%;
}
.button {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 30px;
}
.button.bordered {
  border: 1px solid #222;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  margin: 0 -10px;
}
.col-4 {
  float: left;
  padding: 0 10px;
  width: 33.333%;
}
.col-6 {
  float: left;
  padding: 0 10px;
  width: 50%;
}
#logo {
  float: left;
}
#nav {
  float: right;
  text-transform: uppercase;
  line-height: 100px;
}
#nav li {
  float: left;
}
#nav a {
  padding: 0 12px;
  color: #333;
  font-size: 13px;
  text-decoration: none;
}
#nav .active a {
  color: #d6b161;
}
.boundary:after {
  content: "|";
  padding: 0 12px;
}
#content > div {
  padding-top: 100px;
}
#content > div:first-child {
  padding-top: 0;
}
#content > hr {
  margin: 0;
  border-top: 1px solid #eee;
}
#content .header {
  padding: 200px 0;
}
#content .header .title {
  float: left;
  margin: 0;
}
#content .header #breadcrumbs {
  float: right;
}
.slider img {
  width: 100%;
  height: auto;
}
.intro {
  text-align: center;
  margin-bottom: 100px;
}
.intro h2 {
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  color: #333;
}
.intro hr {
  width: 60px;
  margin: 0 auto;
  height: 2px;
  background-color: #595959;
  border: none;
}
.intro p {
  color: #7e7e7e;
}
.category {
  position: relative;
  margin-bottom: 20px;
}
.categories img {
  width: 100%;
  height: auto;
}
.categories .title {
  position: absolute;
  top: 35%;
  right: 10%;
  color: #222;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
}
.products li {
  float: left;
}
.product .info {
  text-align: center;
  padding: 15px 0;
}
.product .title {
  margin: 0;
}
.product .title a {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.product .price {
  color: #7e7e7e;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1px;
}
.thumbnail {
  position: relative;
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.thumbnail .cover {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border: 20px solid rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
.thumbnail .cover:hover {
  opacity: 1;
}
.thumbnail .cover a {
  position: absolute;
  color: #333;
  text-decoration: none;
  top: 45%;
}
.event {
  padding: 150px 0;
  background-image: url(https://picsum.photos/1920/1080);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.event .title {
  margin: 0;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 70px;
}
.event .subtitle {
  margin: 0;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 24px;
}
.featured {
  padding-bottom: 100px;
}
.featured .info {
  margin-top: 70px;
  text-align: center;
}
.featured .info .title {
  text-transform: uppercase;
  color: #d6b161;
}
.featured .info .name {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
.featured .info .price {
  color: #d6b161;
  font-size: 26px;
  font-weight: 100;
}
.featured .info p {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 30px;
}
.featured .col-6 {
  padding: 0px 30px;
}
.featured .col-6 img {
  width: 100%;
  height: auto;
}
.feartured img {
  width: 100%;
  height: auto;
}
.outlets {
  padding-bottom: 100px;
}
.outlet h3 {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.outlet .info {
  color: #7e7e7e;
  line-height: 30px;
}
.outlet .info a {
  color: #7e7e7e;
  text-decoration: none;
}
.outlet .map a {
  color: #d6b161;
  text-decoration: none;
  text-transform: uppercase;
}
#footer {
  background: #f5f5f5;
  position: relative;
  padding: 80px 0;
}
#footer .logo {
  position: absolute;
  border: 5px solid #f5f5f5;
  padding: 20px;
  background: #fff;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#footer .copyright {
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#footer .copyright .subtitle {
  font-size: 12px;
  color: #323232;
}
#footer .social-media {
  float: right;
}
#footer .social-media li {
  float: left;
}
#footer .social-media a {
  display: inline-block;
  border: 2px solid #222;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  color: #222;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}
#go-top {
  position: fixed;
  right: 20px;
  bottom: 35px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
